<div class='nav-wrapper'>
  <div class='container'>
    {{#link-to homeRoute class=logoClass}}{{name}}{{/link-to}}
    <ul class={{menuClass}}>
      {{yield}}
    </ul>
  </div>

  <a class='button-collapse' data-activates="{{_sideNavId}}">
    <i class='material-icons'>menu</i>
  </a>
</div>

<ul id="{{_sideNavId}}" class='side-nav'>
  {{yield}}
</ul>
